<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/imagen 2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Amante de Imagine Dragons</title>
</head>
<body>
    <header>
        <nav class="NavBar flex-row container">
            <picture>
                <a href="../../index.html"><img src="../img/logo.jpg" alt="logo" class="ilustracion"></a>
            </picture>

            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link textoamarillo">INICIO</a>
                </li>
                <li class="menu__item">
                    <a href="historia.html" class="menu__link textoamarillo">HISTORIA</a>
                </li>
                <li class="menu__item">
                    <a href="integrantes.html" class="menu__link textoamarillo">INTEGRANTES</a>
                </li>
                <li class="menu__item">
                    <a href="discografia.html" class="menu__link textoamarillo">DISCOGRAFIA</a>
                </li>
                <li class="menu__item">
                    <a href="contacto.html" class="menu__link textoamarillo">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1 class="negrita titulo">DISCOGRAFIA</h1>
            <table class="fondo" border="1px" cellspacing="2px">
                <tr>
                    <th>Año de salida</th>
                    <th>Nombre</th>
                    <th>Canciones</th>
                </tr>
                <tr>
                    <td>2012</td>
                    <td>Night Visions</td>
                    <td>
                        <ul>Radioactive</ul>
                        <ul>Tiptoe</ul>
                        <ul>It's Time</ul>
                        <ul>Demons</ul>
                        <ul>On Top of the World</ul>
                        <ul>Ámsterdam</ul>
                        <ul>Hear Me</ul>
                        <ul>Every Night</ul>
                        <ul>Bleeding Out</ul>
                        <ul>Underdog</ul>
                        <ul>Nothing Left to Say</ul>
                    </td>
                </tr>
                <tr>
                    <td>2015</td>
                    <td>Smoke + Mirrors</td>
                    <td>
                        <ul>Shots</ul>
                        <ul>Gold</ul>
                        <ul>Smoke And Mirrors</ul>
                        <ul>I'm So Sorry</ul>
                        <ul>I Bet My Life</ul>
                        <ul>Polaroid</ul>
                        <ul>Friction</ul>
                        <ul>It Comes Back To You</ul>
                        <ul>Dream</ul>
                        <ul>Trouble</ul>
                        <ul>Summer</ul>
                        <ul>Hopeless Opus</ul>
                        <ul>The Fall</ul>
                    </td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td>Evolve</td>
                    <td>
                        <ul>I Don't Know Why</ul>
                        <ul>Whatever It Takes</ul>
                        <ul>Believer</ul>
                        <ul>Walking the Wire</ul>
                        <ul>Rise Up</ul>
                        <ul>I'll Make It Up to You</ul>
                        <ul>Yesterday</ul>
                        <ul>Mouth of the River</ul>
                        <ul>Thunder</ul>
                        <ul>Start Over</ul>
                        <ul>Dancing in the Dark</ul>
                        <ul>Levitate</ul>
                        <ul>Not Today</ul>
                        <ul>Roots</ul>
                    </td>
                </tr>
                <tr>
                    <td>2018</td>
                    <td>Origins</td>
                    <td>
                        <ul>Natural</ul>
                        <ul>Boomerang</ul>
                        <ul>Machine</ul>
                        <ul>Cool Out</ul>
                        <ul>Bad Liar</ul>
                        <ul>West Coast</ul>
                        <ul>Zero</ul>
                        <ul>Bullet in a Gun</ul>
                        <ul>Digital</ul>
                        <ul>Only</ul>
                        <ul>Stuck</ul>
                        <ul>Love</ul>
                        <ul>Birds</ul>
                        <ul>Burn Out</ul>
                        <ul>Real Life</ul>
                        <ul>Born to Be Yours</ul>
                    </td>
                </tr>
                <tr>
                    <td>2021</td>
                    <td>Mercury Act 1</td>
                    <td>
                        <ul>My Life</ul>
                        <ul>Lonely</ul>
                        <ul>Wrecked</ul>
                        <ul>Monday</ul>
                        <ul>#1</ul>
                        <ul>Easy Come Easy Go</ul>
                        <ul>Giants</ul>
                        <ul>It's Ok</ul>
                        <ul>Dull Knives</ul>
                        <ul>Follow You</ul>
                        <ul>Cutthroat</ul>
                        <ul>No Time for Toxic People</ul>
                        <ul>One Day</ul>
                        <ul>Enemy (con J.I.D)</ul>
                    </td>
            </tr>
        </div>
        <!--<h1 class="negrita titulo">DISCOGRAFIA</h1>
        <table class="fondo" border="1px" cellspacing="2px">
            <tr>
                <th>Año de salida</th>
                <th>Nombre</th>
                <th>Canciones</th>
            </tr>
            <tr>
                <td>2012</td>
                <td>Night Visions</td>
                <td>
                    <ul>Radioactive</ul>
                    <ul>Tiptoe</ul>
                    <ul>It's Time</ul>
                    <ul>Demons</ul>
                    <ul>On Top of the World</ul>
                    <ul>Ámsterdam</ul>
                    <ul>Hear Me</ul>
                    <ul>Every Night</ul>
                    <ul>Bleeding Out</ul>
                    <ul>Underdog</ul>
                    <ul>Nothing Left to Say</ul>
                </td>
            </tr>
            <tr>
                <td>2015</td>
                <td>Smoke + Mirrors</td>
                <td>
                    <ul>Shots</ul>
                    <ul>Gold</ul>
                    <ul>Smoke And Mirrors</ul>
                    <ul>I'm So Sorry</ul>
                    <ul>I Bet My Life</ul>
                    <ul>Polaroid</ul>
                    <ul>Friction</ul>
                    <ul>It Comes Back To You</ul>
                    <ul>Dream</ul>
                    <ul>Trouble</ul>
                    <ul>Summer</ul>
                    <ul>Hopeless Opus</ul>
                    <ul>The Fall</ul>
                </td>
            </tr>
            <tr>
                <td>2017</td>
                <td>Evolve</td>
                <td>
                    <ul>I Don't Know Why</ul>
                    <ul>Whatever It Takes</ul>
                    <ul>Believer</ul>
                    <ul>Walking the Wire</ul>
                    <ul>Rise Up</ul>
                    <ul>I'll Make It Up to You</ul>
                    <ul>Yesterday</ul>
                    <ul>Mouth of the River</ul>
                    <ul>Thunder</ul>
                    <ul>Start Over</ul>
                    <ul>Dancing in the Dark</ul>
                    <ul>Levitate</ul>
                    <ul>Not Today</ul>
                    <ul>Roots</ul>
                </td>
            </tr>
            <tr>
                <td>2018</td>
                <td>Origins</td>
                <td>
                    <ul>Natural</ul>
                    <ul>Boomerang</ul>
                    <ul>Machine</ul>
                    <ul>Cool Out</ul>
                    <ul>Bad Liar</ul>
                    <ul>West Coast</ul>
                    <ul>Zero</ul>
                    <ul>Bullet in a Gun</ul>
                    <ul>Digital</ul>
                    <ul>Only</ul>
                    <ul>Stuck</ul>
                    <ul>Love</ul>
                    <ul>Birds</ul>
                    <ul>Burn Out</ul>
                    <ul>Real Life</ul>
                    <ul>Born to Be Yours</ul>
                </td>
            </tr>
            <tr>
                <td>2021</td>
                <td>Mercury Act 1</td>
                <td>
                    <ul>My Life</ul>
                    <ul>Lonely</ul>
                    <ul>Wrecked</ul>
                    <ul>Monday</ul>
                    <ul>#1</ul>
                    <ul>Easy Come Easy Go</ul>
                    <ul>Giants</ul>
                    <ul>It's Ok</ul>
                    <ul>Dull Knives</ul>
                    <ul>Follow You</ul>
                    <ul>Cutthroat</ul>
                    <ul>No Time for Toxic People</ul>
                    <ul>One Day</ul>
                    <ul>Enemy (con J.I.D)</ul>
                </td>
            </tr>-->
        </table>
    </main>
    <footer>
        <div>
            <h3>INSTAGRAM</h3>
            <h3>FACEBOOK</h3>
            <h3>YOUTUBE</h3>
            <h3>EMAIL</h3>
        </div>
    </footer>
</body>
</html>