<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/imagen 2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Amante de Imagine Dragons</title>
</head>
<body>
    <header>
        <nav class="NavBar flex-row container">
            <picture>
                <a href="../../index.html">
                    <img src="../img/logo.jpg" alt="logo" class="ilustracion">
                </a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link textoamarillo">INICIO</a>
                </li>
                <li class="menu__item">
                    <a href="historia.html" class="menu__link textoamarillo">HISTORIA</a>
                </li>
                <li class="menu__item">
                    <a href="integrantes.html" class="menu__link textoamarillo">INTEGRANTES</a>
                </li>
                <li class="menu__item">
                    <a href="discografia.html" class="menu__link textoamarillo">DISCOGRAFIA</a>
                </li>
                <li class="menu__item">
                    <a href="contacto.html" class="menu__link textoamarillo">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="container">
            <h1 class="negrita titulo">HISTORIA</h1>
            <div class="fondo">
                <h2>ORIGEN</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus illo ipsum minus adipisci ut. Sequi veniam eligendi fuga molestiae placeat reprehenderit impedit.</p>
                <h2>PREMIOS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, perferendis pariatur quasi id amet dolorem. Corrupti doloremque autem quod fugiat ducimus possimus cum itaque, voluptate eos voluptates ipsum explicabo laboriosam?</p>
                <h2>PRIMERA CANCION</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quia est nihil molestiae nulla vero aliquid repellendus iste. Quo animi assumenda quia facere illo possimus corrupti aspernatur facilis blanditiis repellat.</p>
                <h2>CANCION CON MAS REPRODUCCIONES</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, earum, sequi maiores tempora error laboriosam quas incidunt aliquid quasi nulla, soluta placeat officiis numquam? Incidunt quasi error soluta hic dolores.</p>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <h3>INSTAGRAM</h3>
            <h3>FACEBOOK</h3>
            <h3>YOUTUBE</h3>
            <h3>EMAIL</h3>
        </div>
    </footer>
</body>
</html>