<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/imagen 2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Amante de Imagine Dragons</title>
</head>
<body>
    <header>
        <nav class="NavBar flex-row container">
            <picture>
                <a href="../../index.html"><img src="../img/logo.jpg" alt="logo" class="ilustracion"></a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../../index.html" class="menu__link textoamarillo">INICIO</a>
                </li>
                <li class="menu__item">
                    <a href="historia.html" class="menu__link textoamarillo">HISTORIA</a>
                </li>
                <li class="menu__item">
                    <a href="integrantes.html" class="menu__link textoamarillo">INTEGRANTES</a>
                </li>
                <li class="menu__item">
                    <a href="discografia.html" class="menu__link textoamarillo">DISCOGRAFIA</a>
                </li>
                <li class="menu__item">
                    <a href="contacto.html" class="menu__link textoamarillo">CONTACTO</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <article class="container">
            <h1 class="negrita titulo">INTEGRANTES</h1>
            <div class="fondo">
                <section>
                    <h2>MIEMBROS ACTUALES</h2>
                    <ul>Dan Reynolds</ul>
                    <ul>Ben McKee</ul>
                    <ul>Daniel Wayne Sermon</ul>
                    <ul>Daniel Platzman</ul>
                    <ul>Elliot Schwartzman</ul>
                </section>
                <section>
                    <h2>EX MIEMBROS</h2>
                    <ul>Andrew Tolman</ul>
                    <ul>Brittany Tolman</ul>
                    <ul>Theresa Flaminio</ul>
                    <ul>Dave Lemke</ul>
                    <ul>Aurora Florence</ul>
                    <ul>Andrew Beck</ul>
                    <ul>Ryan Walker</ul>
                    <ul>William Wells</ul>
                </section>
            </div>
                <!--<section class="fondo">
                    <h2>MIEMBROS ACTUALES</h2>
                    <ul>Dan Reynolds</ul>
                    <ul>Ben McKee</ul>
                    <ul>Daniel Wayne Sermon</ul>
                    <ul>Daniel Platzman</ul>
                    <ul>Elliot Schwartzman</ul>
                </section>
                <section class="fondo">
                    <h2>EX MIEMBROS</h2>
                    <ul>Andrew Tolman</ul>
                    <ul>Brittany Tolman</ul>
                    <ul>Theresa Flaminio</ul>
                    <ul>Dave Lemke</ul>
                    <ul>Aurora Florence</ul>
                    <ul>Andrew Beck</ul>
                    <ul>Ryan Walker</ul>
                    <ul>William Wells</ul>-->
        </article>
    </main>
    <footer>
        <div>
            <h3>INSTAGRAM</h3>
            <h3>FACEBOOK</h3>
            <h3>YOUTUBE</h3>
            <h3>EMAIL</h3>
        </div>
    </footer>
</body>
</html>