main section div {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    h2 {
        background-color: rgba(255, 211, 117, 0.808);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    p {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}


/*main section div h2 {
    background-color: rgba(255, 211, 117, 0.808);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
main section div p {
    padding-left: 3rem;
    padding-right: 3rem;
}*/