main article div {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    section h2 {
        background-color: rgba(255, 211, 117, 0.808);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}



/*main article div section h2 {
    background-color: rgba(255, 211, 117, 0.808);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}*/